@import './_variables.scss';

%box-edge {
  border-radius: 10rpx;
}

@keyframes fade-out {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  } 
}

@keyframes stretch-out {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}