$teal: #00897B;
$acid: #CCBF0E;
$light-grey: #fafafa;
$grey: #ebebeb;
$edge-grey: #bbbbbb;
$dark-grey: #757575;
$red: #f44336;

$theme: $teal;
$theme-aid: $acid;
$bg: $light-grey;
$shadow: $edge-grey;
$font: $dark-grey;
$edge: $edge-grey;